GROQ_API_KEY='ur-groq-api-key'
TAVILY_API_KEY='ur-tavily-api-key'
IPC_JSON_PATH=D:\Pycharm Projects\AI-legal-Assistant\ipc.json
PERSIST_DIRECTORY_PATH=D:/Pycharm Projects/AI-legal-Assistant/chroma_db
IPC_COLLECTION_NAME=ipc_collection