# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env

# IDE settings
.idea/
*.iml

# OS-specific files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3
*.db

# Persistent storage
D:/Pycharm Projects/AI-legal-Assistant/chroma_db/